* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 30%, rgba(0, 22, 255, 1) 100%);
}

h1 {
    color: #000080;
    text-align: center;
}

.contenedor {
    width: 90%;
    margin: 40px auto;
    padding: 50px;
    background-color: white;
}

.carro-compra {
    display: block;
    width: 100%;
    height: 50%;
}

table {
    table-layout: auto;
    text-align: center;
    margin: 15px auto;
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #000080;
}

.tabla-uno td {
    padding: 15px;
}

.tabla-dos {
    border-collapse: separate;
    font-style: italic;
}

td,
th {
    background: rgba(238, 238, 238, 0.87);
    padding: 10px;
}

tfoot tr td,
#total {
    background: rgb(172, 172, 172);
}

.intercalado {
    font-style: italic;
}

.intercalado tr:nth-child(odd) {
    background: red;
}

.intercalado tr:nth-child(even) {
    background: darkred;
}

label {
    color: #000080;
}

.productos {
    padding: 5px;
    background: #0000c7;
    text-align: center;
    border: 2px solid #0000c7;
    border-radius: 3px;
    color: white;
    align-content: flex-start;
}

.productos:hover {
    background: #000080;
}

input {
    display: block;
    background: rgb(247, 247, 247);
    width: 90%;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #0000c7;
}

input:hover {
    background: white;
    border-color: #4040c4;
}

button {
    display: flex;
    background: #0000c7;
    padding: 5px 15px;
    border: 2px solid #0000c7;
    border-radius: 3px;
    color: white;
    margin: 0 auto;
}

button:hover {
    background: #000080;
}


/*-------------tfoot----------------*/

.total {
    font-weight: 400;
    font-style: oblique;
}